/* line 3, ../projects/CyberCoffee/SASS/cookie.scss */
body, main, footer, p, h1, ul, li {
  padding: 0px;
  margin: 0px;
}

/* line 7, ../projects/CyberCoffee/SASS/cookie.scss */
ul {
  list-style: none;
}

/* line 11, ../projects/CyberCoffee/SASS/cookie.scss */
a {
  text-decoration: none;
}

/* line 15, ../projects/CyberCoffee/SASS/cookie.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 20, ../projects/CyberCoffee/SASS/cookie.scss */
.header-img {
  background: url("../coffeeshop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

@media screen and (max-width: 1000px) {
  /* line 20, ../projects/CyberCoffee/SASS/cookie.scss */
  .header-img {
    height: auto;
  }
}

/* line 33, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header {
  margin-left: 100px;
}

/* line 35, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

/* line 39, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav h2 {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

/* line 42, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav .header-list {
  margin-right: 100px;
}

/* line 44, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav .header-list ul {
  display: flex;
  transition: 0.8s;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

@media screen and (max-width: 1000px) {
  /* line 44, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .header-nav .header-list ul {
    display: block;
  }
}

@media screen and (max-width: 636px) {
  /* line 44, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .header-nav .header-list ul {
    padding-top: 10px;
    display: block;
  }
}

/* line 56, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav .header-list li {
  font-size: 16px;
  padding-left: 40px;
}

@media screen and (max-width: 1000px) {
  /* line 56, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .header-nav .header-list li {
    padding-top: 18px;
  }
}

/* line 71, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav .header-list a {
  color: white;
  transition: 0.8s;
}

/* line 74, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav .header-list a:hover {
  color: #5a4cec;
}

/* line 79, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav .header-list input {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  margin-top: -20px;
  margin-left: 50px;
  background: transparent;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.90s;
}

@media screen and (max-width: 1000px) {
  /* line 79, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .header-nav .header-list input {
    margin-top: 40px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 636px) {
  /* line 79, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .header-nav .header-list input {
    font-size: 10px;
    line-height: 1;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    color: #eeece3;
    width: 100px;
    height: 40px;
  }
}

/* line 100, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .header-nav .header-list input:hover {
  border: 2px solid #443ab4;
  color: white;
  background: #443ab4;
}

/* line 108, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .img-texts {
  display: block;
  align-items: flex-start;
  margin-top: 180px;
}

@media screen and (max-width: 636px) {
  /* line 108, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts {
    padding-top: 10px;
  }
}

/* line 115, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .img-texts h1 {
  font-size: 200px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

@media screen and (max-width: 1000px) {
  /* line 115, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 636px) {
  /* line 115, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts h1 {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    color: #eeece3;
  }
}

/* line 124, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .img-texts h2 {
  margin-top: 50px;
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

@media screen and (max-width: 1000px) {
  /* line 124, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts h2 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 636px) {
  /* line 124, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts h2 {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    color: #eeece3;
  }
}

/* line 134, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .img-texts p {
  margin-top: 20px;
  font-size: 28px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

@media screen and (max-width: 1000px) {
  /* line 134, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts p {
    font-size: 20px;
  }
  /* line 139, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts p .br-active {
    display: none;
  }
}

@media screen and (max-width: 636px) {
  /* line 134, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts p {
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    color: #eeece3;
    padding-top: 18px;
  }
}

/* line 151, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .img-texts input {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  background: transparent;
  border: 2px solid white;
  margin-top: 28px;
  width: 350px;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.90s;
}

@media screen and (max-width: 1000px) {
  /* line 151, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts input {
    width: 200px;
    height: 60px;
    font-size: 24px;
  }
}

@media screen and (max-width: 636px) {
  /* line 151, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-header .img-texts input {
    font-size: 10px;
    line-height: 1;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    color: #eeece3;
    width: 100px;
    height: 40px;
  }
}

/* line 171, ../projects/CyberCoffee/SASS/cookie.scss */
.container-header .img-texts input:hover {
  border: 2px solid #443ab4;
  color: white;
  background: #443ab4;
}

/* line 184, ../projects/CyberCoffee/SASS/cookie.scss */
.container-main {
  padding: 80px;
  background-image: linear-gradient(#0f0c29, #302b63, #24243e);
  color: #eeece3;
}

@media screen and (max-width: 636px) {
  /* line 184, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-main {
    padding: 5px;
  }
}

/* line 191, ../projects/CyberCoffee/SASS/cookie.scss */
.container-main .main-flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 636px) {
  /* line 191, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-main .main-flex {
    display: block;
  }
}

/* line 198, ../projects/CyberCoffee/SASS/cookie.scss */
.container-main h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

/* line 201, ../projects/CyberCoffee/SASS/cookie.scss */
.container-main .main-info {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  margin-top: 60px;
  border-top: 2px solid #7b7bb3;
}

/* line 205, ../projects/CyberCoffee/SASS/cookie.scss */
.container-main .main-info span {
  color: #7c7c7c;
  margin-right: 10px;
}

/* line 210, ../projects/CyberCoffee/SASS/cookie.scss */
.container-main .main-text {
  font-size: 22px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
  line-height: 30px;
  padding: 10px 0px 25px 0px;
  border-bottom: 2px solid #0f0c29;
}

@media screen and (max-width: 636px) {
  /* line 210, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-main .main-text {
    font-size: 14px;
    line-height: 1;
    font-family: "Roboto Slab", serif;
    color: #eeece3;
    padding-top: 30px;
  }
}

/* line 223, ../projects/CyberCoffee/SASS/cookie.scss */
.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 227, ../projects/CyberCoffee/SASS/cookie.scss */
.card-list .card {
  margin-top: 26px;
  flex-direction: column;
  position: relative;
  height: 500px;
  width: 300px;
  min-width: 250px;
  padding: 1.5rem;
  background: #443ab4;
  box-shadow: 10px 15px 10px 0px rgba(19, 19, 19, 0.788);
  border-radius: 10px;
  transition: 0.2s;
  min-width: 140px;
  border-bottom: 4px solid #131313;
}

@media screen and (max-width: 636px) {
  /* line 227, ../projects/CyberCoffee/SASS/cookie.scss */
  .card-list .card {
    height: auto;
    width: 240px;
  }
}

/* line 245, ../projects/CyberCoffee/SASS/cookie.scss */
.card-list .card h3 {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

/* line 248, ../projects/CyberCoffee/SASS/cookie.scss */
.card-list .card span {
  color: #7c7c7c;
}

/* line 251, ../projects/CyberCoffee/SASS/cookie.scss */
.card-list .card h1 {
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  text-align: center;
}

@media screen and (max-width: 636px) {
  /* line 251, ../projects/CyberCoffee/SASS/cookie.scss */
  .card-list .card h1 {
    text-align: left;
  }
}

/* line 258, ../projects/CyberCoffee/SASS/cookie.scss */
.card-list .card p {
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
  padding-top: 20px;
  text-align: center;
}

@media screen and (max-width: 636px) {
  /* line 258, ../projects/CyberCoffee/SASS/cookie.scss */
  .card-list .card p {
    text-align: left;
  }
}

/* line 268, ../projects/CyberCoffee/SASS/cookie.scss */
.card-list .card:hover {
  height: 528px;
  transform: translate3d(0, -30px, 0);
}

@media screen and (max-width: 636px) {
  /* line 268, ../projects/CyberCoffee/SASS/cookie.scss */
  .card-list .card:hover {
    transform: none;
    height: auto;
  }
}

/* line 277, ../projects/CyberCoffee/SASS/cookie.scss */
.card-list .card img:hover {
  transition: 0.2s;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 636px) {
  /* line 277, ../projects/CyberCoffee/SASS/cookie.scss */
  .card-list .card img:hover {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 636px) {
  /* line 286, ../projects/CyberCoffee/SASS/cookie.scss */
  .card-list .card img {
    width: 150px;
    height: 150px;
  }
}

/* line 297, ../projects/CyberCoffee/SASS/cookie.scss */
.main-flex2 {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 636px) {
  /* line 297, ../projects/CyberCoffee/SASS/cookie.scss */
  .main-flex2 {
    display: block;
  }
}

/* line 305, ../projects/CyberCoffee/SASS/cookie.scss */
.container-image {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #1f1a57;
  flex-wrap: nowrap;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

@media screen and (max-width: 636px) {
  /* line 305, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-image {
    margin-top: 0px;
  }
}

/* line 320, ../projects/CyberCoffee/SASS/cookie.scss */
.together {
  min-width: 300px;
  width: 100%;
  height: 100%;
}

/* line 326, ../projects/CyberCoffee/SASS/cookie.scss */
.img-text {
  min-width: 200px;
}

/* line 328, ../projects/CyberCoffee/SASS/cookie.scss */
.img-text h3 {
  display: flex;
  justify-content: space-between;
  background-color: #443ab4;
  min-width: 100px;
  height: 100px;
  padding: 30px 30px 0 30px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

/* line 337, ../projects/CyberCoffee/SASS/cookie.scss */
.img-text sup {
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

/* line 340, ../projects/CyberCoffee/SASS/cookie.scss */
.img-text .sobre {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  color: #464646;
}

/* line 345, ../projects/CyberCoffee/SASS/cookie.scss */
.img-text h4 {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  padding-top: 30px;
}

/* line 349, ../projects/CyberCoffee/SASS/cookie.scss */
.img-text p {
  font-size: 18px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

/* line 354, ../projects/CyberCoffee/SASS/cookie.scss */
.contact {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

@media screen and (max-width: 636px) {
  /* line 354, ../projects/CyberCoffee/SASS/cookie.scss */
  .contact {
    display: block;
  }
}

/* line 361, ../projects/CyberCoffee/SASS/cookie.scss */
.contact img {
  align-self: flex-end;
}

/* line 364, ../projects/CyberCoffee/SASS/cookie.scss */
.contact input {
  padding: 10px;
  margin-top: 50px;
  width: 240px;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  background-color: #464646;
  border: 2px solid #464646;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.80s;
}

/* line 374, ../projects/CyberCoffee/SASS/cookie.scss */
.contact input:hover {
  border: 2px solid #443ab4;
  color: #131313;
  background: #443ab4;
}

/* line 384, ../projects/CyberCoffee/SASS/cookie.scss */
.container-footer {
  background-color: #24243e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 80px 0px 80px;
}

@media screen and (max-width: 636px) {
  /* line 384, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-footer {
    display: block;
    justify-content: flex-start;
  }
}

/* line 395, ../projects/CyberCoffee/SASS/cookie.scss */
.container-footer h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

/* line 398, ../projects/CyberCoffee/SASS/cookie.scss */
.container-footer ul {
  display: flex;
}

@media screen and (max-width: 636px) {
  /* line 398, ../projects/CyberCoffee/SASS/cookie.scss */
  .container-footer ul {
    display: block;
  }
}

/* line 404, ../projects/CyberCoffee/SASS/cookie.scss */
.container-footer li {
  padding-top: 20px;
  padding-left: 40px;
}

/* line 407, ../projects/CyberCoffee/SASS/cookie.scss */
.container-footer li img {
  min-width: 10px;
  min-height: 10px;
}

/* line 415, ../projects/CyberCoffee/SASS/cookie.scss */
.newsletter input {
  width: 200px;
  min-width: 100px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #443ab4;
  outline: transparent;
}

@media screen and (max-width: 636px) {
  /* line 415, ../projects/CyberCoffee/SASS/cookie.scss */
  .newsletter input {
    padding-top: 40px;
  }
}

/* line 426, ../projects/CyberCoffee/SASS/cookie.scss */
.newsletter input {
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

/* line 429, ../projects/CyberCoffee/SASS/cookie.scss */
.newsletter button {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: transparent;
  font-size: 20px;
  font-weight: bold;
  transition: 0.80s;
}

/*# sourceMappingURL=cookie.css.map */